<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pushbox"
    android:versionCode="1"
    android:versionName="1.0" >



    <application
        android:allowBackup="true"
        android:icon="@drawable/xaut"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.pushbox.GameMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>     
        </activity>
        
        <activity 
            android:name="com.example.pushbox.help" >
        </activity>
    	
         <activity 
             android:name="com.example.pushbox.Game" >
        </activity>
        
         
         <activity
            android:name="music"
            android:theme="@android:style/Theme.Dialog" >
         </activity>
         
          <activity
            android:name="about"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>